:root {
  --ss-background: #070303;
  --ss-surface: #0F0B0B;
  --ss-chrome: #211616;
  --ss-foreground: #F6F0F0;
  --ss-muted-foreground: #ABA2A2;
  --ss-chrome-foreground: #F6F0F0;
  --ss-border: #423433;
  --ss-primary: #FF8481;
  --ss-primary-foreground: #050303;
  --ss-accent: #98BAFF;
  --ss-accent-foreground: #050303;
  --ss-focus: #95C9FF;
  --ss-success: #73D083;
  --ss-success-foreground: #050303;
  --ss-warning: #E1AD57;
  --ss-warning-foreground: #050303;
  --ss-danger: #FF968A;
  --ss-danger-foreground: #050303;
  --ss-primary-50: #FFF6F5;
  --ss-primary-100: #FFE4E2;
  --ss-primary-200: #FFC8C5;
  --ss-primary-300: #FFA09C;
  --ss-primary-400: #F66C6C;
  --ss-primary-500: #DB484E;
  --ss-primary-600: #C02936;
  --ss-primary-700: #A00E24;
  --ss-primary-800: #770015;
  --ss-primary-900: #4F000B;
  --ss-primary-950: #2A0003;
  --ss-accent-50: #F5F9FF;
  --ss-accent-100: #E2EBFF;
  --ss-accent-200: #C4D8FF;
  --ss-accent-300: #9DBDFF;
  --ss-accent-400: #769CEF;
  --ss-accent-500: #587FD6;
  --ss-accent-600: #4167BD;
  --ss-accent-700: #2F509E;
  --ss-accent-800: #1B377C;
  --ss-accent-900: #091F5C;
  --ss-accent-950: #00073E;
}
